<!DOCTYPE html>
<html lang="en">

<%- include("partials/head.ejs") %>

    <body id="body-edit-profile">
        <%- include("partials/headercontent.ejs") %>
            <div class="container mt-3 edit-container">
                <h2>Edit Profile</h2>
                <form action="/user/edit?_method=PUT" method="post">
                    <div class="mb-3">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" value="<%=user.fullname%>" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" value="<%=user.username%>" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="bio">Bio</label>
                        <input type="text" class="form-control" value="<%=user.bio%>" name="bio">
                    </div>
                    <div class="mb-3 mt-3">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" value="<%=user.email%>" name="email">
                    </div>
                    <div class="mb-3">
                        <label for="gender">Gender</label>
                        <input type="text" class="form-control" value="<%=user.gender%>" name="gender">
                    </div>
                    <div class="mb-3">
                        <label for="image">Select Photo from Computer</label>
                        <input type="file" id="myFile" class="form-control" name="image" value="<%=user.image%>">
                    </div>

                    <button type="submit" class="btn btn-primary button-custom">Update</button>
                </form>
                <form action="/profile" class="mt-3">
                    <button type="submit" class="btn btn-primary button-custom">Cancel</button>
                </form>
            </div>
    </body>

</html>