<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs") %>

    <body id="body-profile">

        <%- include("partials/headercontent.ejs") %>

            <div class="profile-pic-body">
                <div id="profile-pic">
                    <% if(user.image && user.image.data){ %>
                        <img id="profile-pic-logo" src="data:image/<%=user.image.contentType%>;base64,
                        <%=Buffer.from(user.image.data.data).toString('base64')%>" alt="">
                        <% } else { %>
                            <img id="profile-pic-logo" src="https://i.imgur.com/GrY4ykS.jpeg" alt="">
                            <% } %>
                </div>
                <div class="profile-details">
                    <div class="profile-name-edit">
                        <h3>
                            <%=user.username%>
                        </h3>
                        <form action="user/edit" method="get">
                            <!-- <button class="btn btn-light" type="button" >Edit Profile</button> -->
                            <input class="btn btn-light" type="submit" value="Edit Profile">
                        </form>
                    </div>
                    <p>
                        <%=allpost.length%> posts
                    </p>
                    <h6>
                        <%=user.fullname%>
                    </h6>
                    <p>
                        <%=user.bio%>
                    </p>
                </div>
            </div>
            <div class="profile-content">
                <div class="content-header">

                    <!-- <ul id="profile-content-header-list">
                    <li>FEED</li>
                    <li>POSTS</li>
                    <li>SAVED</li>
                </ul> -->
                    <ul class="nav nav-pills mb-3 mt-3 post-saved" id="pills-tab profile-content-header-list"
                        role="tablist">

                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="pills-posts-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                                aria-selected="false">POSTS</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="pills-saved-tab" data-bs-toggle="pill"
                                data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact"
                                aria-selected="false">SAVED</button>
                        </li>
                    </ul>

                </div>


                <div class="tab-content" id="pills-tabContent">

                    <div class="tab-pane fade show active" id="pills-profile" role="tabpanel"
                        aria-labelledby="pills-posts-tab">

                        <div class="post-content">
                            <div class="container profile-container">
                                <div class="row m-0 row-cols-3 profile-row">
                                    <% allpost.forEach(post=> { %>
                                        <div class="col p-0">
                                            <div class="card border-secondary rounded-0 index-card post-card">
                                                <a href="#" data-bs-toggle="modal"
                                                    data-bs-target="<%= `#modal-${post._id}` %>">
                                                    <% if(post.image && post.image.data){ %>
                                                        <img class=" card-img-top post-card-img" src="data:image/<%=post.image.contentType%>;base64,
                                                        <%=post.image.data.toString('base64')%>" style="width:100%">
                                                        <% } else { %>
                                                            <img class=" card-img-top post-card-img"
                                                                src="https://images.unsplash.com/photo-1535890696255-dd5bcd79e6df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"
                                                                style="width:100%">
                                                            <% } %>

                                                                <div class="card-footer">
                                                                    <%=post.caption%>

                                                                </div>

                                                </a>


                                                <!-- The Modal -->
                                                <div class="modal fade " id="<%= `modal-${post._id}` %>">
                                                    <div class="modal-dialog  modal-dialog-centered modal-lg">
                                                        <div class="modal-content">

                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title modal-image-size"><img
                                                                        class=" card-img-top post-card-img"
                                                                        src="https://images.unsplash.com/photo-1535890696255-dd5bcd79e6df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"
                                                                        style="width:100%"></h4>
                                                                <!-- <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"></button> -->
                                                            </div>

                                                            <!-- Modal body -->
                                                            <div class="modal-body">
                                                                <p>
                                                                    <%= post.caption %>
                                                                </p>
                                                                <h5>Likes: <%= post.like %>
                                                                </h5>
                                                                <div class="all-comments">
                                                                    <% (post.comment).forEach(element=> { %>
                                                                        <div class="each-comment">
                                                                            <h6>
                                                                                <%=element.user.username%>:<p>
                                                                                        <%= element.comment%>
                                                                                    </p>
                                                                            </h6>

                                                                        </div>
                                                                        <% }) %>

                                                                </div>

                                                            </div>

                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <form action="/post/delete?_method=DELETE"
                                                                    method="post">
                                                                    <button type="submit"
                                                                        class="btn btn-danger">Delete</button>
                                                                </form>
                                                                <button type="button" class="btn btn-danger"
                                                                    data-bs-dismiss="modal">Close</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <div class="card-body post-card-body">
                                                <h5>
                                                    <%=post.caption%><br />
                                                        <span id=heart>
                                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                        </span>
                                                        <i class="fas fa-save"></i>
                                                </h5>

                                            </div> -->
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-saved-tab">
                        <div class="post-content">
                            <div class="container profile-container">
                                <div class="row m-0 row-cols-3 profile-row">
                                    <% savedPost.forEach(post=> { %>
                                        <div class="col p-0">
                                            <div class="card border-secondary rounded-0 index-card post-card">
                                                <a href="#" data-bs-toggle="modal"
                                                    data-bs-target="<%= `#modal-${post._id}` %>">
                                                    <% if(post.image && post.image.data){ %>
                                                        <img class=" card-img-top post-card-img" src="data:image/<%=post.image.contentType%>;base64,
                                                        <%=post.image.data.toString('base64')%>" style="width:100%">
                                                        <% } else { %>
                                                            <img class=" card-img-top post-card-img"
                                                                src="https://images.unsplash.com/photo-1535890696255-dd5bcd79e6df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"
                                                                style="width:100%">
                                                            <% } %>

                                                                <div class="card-footer">
                                                                    <%=post.caption%>

                                                                </div>

                                                </a>


                                                <!-- The Modal -->
                                                <div class="modal fade " id="<%= `modal-${post._id}` %>">
                                                    <div class="modal-dialog  modal-dialog-centered modal-lg">
                                                        <div class="modal-content">

                                                            <!-- Modal Header -->
                                                            <div class="modal-header">
                                                                <h4 class="modal-title modal-image-size"><img
                                                                        class=" card-img-top post-card-img"
                                                                        src="https://images.unsplash.com/photo-1535890696255-dd5bcd79e6df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8&w=1000&q=80"
                                                                        style="width:100%"></h4>
                                                                <!-- <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal"></button> -->
                                                            </div>

                                                            <!-- Modal body -->
                                                            <div class="modal-body">
                                                                <p>
                                                                    <%= post.caption %>
                                                                </p>
                                                                <h5>Likes: <%= post.like %>
                                                                </h5>
                                                                <div class="all-comments">
                                                                    <% (post.comment).forEach(element=> { %>
                                                                        <div class="each-comment">
                                                                            <h6>
                                                                                <%=element.user.username%>:<p>
                                                                                        <%= element.comment%>
                                                                                    </p>
                                                                            </h6>

                                                                        </div>
                                                                        <% }) %>

                                                                </div>

                                                            </div>

                                                            <!-- Modal footer -->
                                                            <div class="modal-footer">
                                                                <form action="/post/delete?_method=DELETE"
                                                                    method="post">
                                                                    <button type="submit"
                                                                        class="btn btn-danger">Delete</button>
                                                                </form>
                                                                <button type="button" class="btn btn-danger"
                                                                    data-bs-dismiss="modal">Close</button>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- <div class="card-body post-card-body">
                                                <h5>
                                                    <%=post.caption%><br />
                                                        <span id=heart>
                                                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                                                        </span>
                                                        <i class="fas fa-save"></i>
                                                </h5>

                                            </div> -->
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>


    </body>

</html>